header {
        background-color: #FFFFFF;
        height: 70px;
        width: 100%;
        border-bottom: solid 1px #CCCCCC;
}
.hbtn_logo {
        background-image: url("../images/hbtn-airbnb-logo.png");
        padding-left: 30px;
        background-repeat: no-repeat;
        width: 140px;
        height: 65px;
}
@media (max-width: 768px) {
        .hbtn_logo {
        padding-left: 20px;
        background-size: 80%;
}
}
