header {
        background-color: #FFFFFF;
        height: 70px;
        width: 100%;
        border-bottom: solid 1px #CCCCCC;
}
header .hbtn_logo {
        background-image: url("../images/full_icon.png");
        padding-left: 20px;
        background-repeat: no-repeat;
        width: 140px;
        height: 65px;
}
